In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.read_csv("../Dataset/bike_buyers_clean.csv")

In [6]:
df.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No
1,24107,Married,Male,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No
2,14177,Married,Male,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No
3,24381,Single,Male,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes
4,25597,Single,Male,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes

In [59]:
encode = OneHotEncoder(sparse_output=False)
# encode.set_output(transform="pandas")

In [64]:
encode.fit_transform(df[["Gender", "Marital Status", "Home Owner"]])
encode.set_output(transform="pandas")

OneHotEncoder(sparse_output=False)

In [79]:
m =encode.get_feature_names_out()

In [74]:
e = encode.feature_names_in_

In [67]:
df = pd.read_csv("../Dataset/bike_buyers_clean.csv")

In [85]:
df2 = encode.fit_transform(df[["Gender", "Region"]])

In [90]:
df1 = df.drop(columns=e)
df1

,ID,Marital Status,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Age,Purchased Bike
0,12496,Married,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,42,No
1,24107,Married,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,43,No
2,14177,Married,80000,5,Partial College,Professional,No,2,2-5 Miles,60,No
3,24381,Single,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,41,Yes
4,25597,Single,30000,0,Bachelors,Clerical,No,0,0-1 Miles,36,Yes
...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,60000,2,High School,Professional,Yes,2,2-5 Miles,54,Yes
996,28672,Single,70000,4,Graduate Degree,Professional,Yes,0,2-5 Miles,35,Yes
997,11809,Married,60000,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,38,Yes
998,19664,Single,100000,3,Bachelors,Management,No,3,1-2 Miles,38,No
999,12121,Single,60000,3,High School,Professional,Yes,2,10+ Miles,53,Yes

In [91]:
pd.concat([df1, df2], axis=1)

,ID,Marital Status,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Age,Purchased Bike,Gender_Female,Gender_Male,Region_Europe,Region_North America,Region_Pacific
0,12496,Married,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,42,No,1.0,0.0,1.0,0.0,0.0
1,24107,Married,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,43,No,0.0,1.0,1.0,0.0,0.0
2,14177,Married,80000,5,Partial College,Professional,No,2,2-5 Miles,60,No,0.0,1.0,1.0,0.0,0.0
3,24381,Single,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,41,Yes,0.0,1.0,0.0,0.0,1.0
4,25597,Single,30000,0,Bachelors,Clerical,No,0,0-1 Miles,36,Yes,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,60000,2,High School,Professional,Yes,2,2-5 Miles,54,Yes,0.0,1.0,0.0,1.0,0.0
996,28672,Single,70000,4,Graduate Degree,Professional,Yes,0,2-5 Miles,35,Yes,0.0,1.0,0.0,1.0,0.0
997,11809,Married,60000,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,38,Yes,0.0,1.0,0.0,1.0,0.0
998,19664,Single,100000,3,Bachelors,Management,No,3,1-2 Miles,38,No,0.0,1.0,0.0,1.0,0.0
999,12121,Single,60000,3,High School,Professional,Yes,2,10+ Miles,53,Yes,0.0,1.0,0.0,1.0,0.0