# Series

`Series:` One dimensional ndarray with axis labels (including time series).

In [1]:
# firstly import numpy and pandas 
import numpy as np
import pandas as pd

In [2]:
# read_csv function is used to read the csv file.
df = pd.read_csv("../Dataset/Life Expectancy Data.csv")

In [3]:
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [4]:
# head method in dataframe used to get top 5 rows
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

### pandas size method
The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.

In [5]:
df.size

64636

In [6]:
# shape mmethod returns the dimension of dataframe rows & columns
df.shape

(2938, 22)

### pandas info method

info method returns the infromation about dataframe
The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values).

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

## Creating a series

In [8]:
# creating a series with list
series_list = ("Abhishek", "Sunny", "Manish", "Hanish", "Anuj", "Mayank", "Sarjeet", "Diljeet", "Arpit", "Monu")

l_series = pd.Series(series_list)

l_series

0    Abhishek
1       Sunny
2      Manish
3      Hanish
4        Anuj
5      Mayank
6     Sarjeet
7     Diljeet
8       Arpit
9        Monu
dtype: object

In [9]:
# creating a series with dictionary
_dict = {"Abhishek": 19, "Sunny": 19, "Manish": 20, "Hanish": 19, "Anuj": 22, "Mayank":19, "Sarjeet":20, "Diljeet":25, "Arpit":18, "Monu":26}

d_series = pd.Series(_dict)

d_series

Abhishek    19
Sunny       19
Manish      20
Hanish      19
Anuj        22
Mayank      19
Sarjeet     20
Diljeet     25
Arpit       18
Monu        26
dtype: int64

In [10]:
"""
Creating a Series with tuple
we can only create a series with only array-like object, dicttionary, iterable object or a scalar value. so we can also create a series by passing the tuple.
"""

_tuple = (("Abhishek", 19), ("Sunny", 19), ("Manish", 20), ("Hanish", 19), ("Aunj", 22))

t_series = pd.Series(_tuple)

t_series

0    (Abhishek, 19)
1       (Sunny, 19)
2      (Manish, 20)
3      (Hanish, 19)
4        (Aunj, 22)
dtype: object

`Note:`  In this result values ar the pair of the name and the age together which can be useful some time but it would be better if all the names treated as the index values. For that we need to convert this tuple in the dict object.

In [11]:
t_series = pd.Series(data = dict(_tuple))

t_series

Abhishek    19
Sunny       19
Manish      20
Hanish      19
Aunj        22
dtype: int64

# Mostly used attributes in Series
- array: The ExtensionArray of the data backing this Series or Index.

#### Creating a series

In [12]:
_rs = np.random.randint(50, size=50)

_ps = pd.Series(_rs)

for i in range(10):
    _ps[np.random.randint(0,49,)] = np.nan 

_ps

0     29.0
1     20.0
2      0.0
3     37.0
4     24.0
5     12.0
6     40.0
7     23.0
8     18.0
9     23.0
10     NaN
11     0.0
12     0.0
13    10.0
14    32.0
15     NaN
16     6.0
17     1.0
18     4.0
19     NaN
20    30.0
21     NaN
22    17.0
23    27.0
24    21.0
25    35.0
26     NaN
27     NaN
28    46.0
29    20.0
30     2.0
31    26.0
32     0.0
33    10.0
34     NaN
35     NaN
36     0.0
37    37.0
38    39.0
39     NaN
40     4.0
41    27.0
42     NaN
43    33.0
44    41.0
45    48.0
46    49.0
47    30.0
48    11.0
49    21.0
dtype: float64

Noew we have a randomly generated series with some `NaN` not a number values, now we will work on some pandas series attributes.

`Note:` Here **Nan**(not a number) is the standard missing data marker used in pandas.

#### 1. array - attribute

The ExtensionArray of the data backing this series or index.

   Pandas series object have a .array attribute that can be used to acess the underlying array of data for a series object. This can be useful for working with data in a Series, but can also lead to problems if the underlying array contains different data types. To avoid this, it is important to ensure that the data types in the underlying array are all the same. Additionally, the .array attribute can be used to create a new Series object from an exisiting array.

In [13]:
# getting the array form the serie
_ps.array

<PandasArray>
[29.0, 20.0,  0.0, 37.0, 24.0, 12.0, 40.0, 23.0, 18.0, 23.0,  nan,  0.0,  0.0,
 10.0, 32.0,  nan,  6.0,  1.0,  4.0,  nan, 30.0,  nan, 17.0, 27.0, 21.0, 35.0,
  nan,  nan, 46.0, 20.0,  2.0, 26.0,  0.0, 10.0,  nan,  nan,  0.0, 37.0, 39.0,
  nan,  4.0, 27.0,  nan, 33.0, 41.0, 48.0, 49.0, 30.0, 11.0, 21.0]
Length: 50, dtype: float64

In [14]:
df_year = df["Year"]
df_year.array

<PandasArray>
[2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
 ...
 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000]
Length: 2938, dtype: int64

`Note: ` If we want to work on the pure numpy array than we need to use the `Series.to_numpy()` method.

In [15]:
_ps.to_numpy()

array([29., 20.,  0., 37., 24., 12., 40., 23., 18., 23., nan,  0.,  0.,
       10., 32., nan,  6.,  1.,  4., nan, 30., nan, 17., 27., 21., 35.,
       nan, nan, 46., 20.,  2., 26.,  0., 10., nan, nan,  0., 37., 39.,
       nan,  4., 27., nan, 33., 41., 48., 49., 30., 11., 21.])

#### axes - attribute

Pandas `Series.axes` is an attribute that contains a list of the row and columns axes labels of the series. If the row and columns axes have different labels, then the Series.axes attribute will include both labels. Problems with Series.axes attribute can arise if the labels of the rows and columns axes are not properly set. To solve this issue, you can use the `Series.renameaxis()` method to correctly set the labels of the axes. Additionally, you can use the `series.restindex()` method to reset the index of the series, which will also reset the labels of the axes.

In [16]:
_ps.axes

[RangeIndex(start=0, stop=50, step=1)]

In [17]:
df_year.axes

[RangeIndex(start=0, stop=2938, step=1)]

#### index - attribute
- The index (axis labels) of the series.

In [18]:
_ps.index

RangeIndex(start=0, stop=50, step=1)

In [19]:
df_year.index

RangeIndex(start=0, stop=2938, step=1)

#### values - attribute
- Return series as ndarray or ndarray-like depending on the dtype.

In [20]:
_ps.values

array([29., 20.,  0., 37., 24., 12., 40., 23., 18., 23., nan,  0.,  0.,
       10., 32., nan,  6.,  1.,  4., nan, 30., nan, 17., 27., 21., 35.,
       nan, nan, 46., 20.,  2., 26.,  0., 10., nan, nan,  0., 37., 39.,
       nan,  4., 27., nan, 33., 41., 48., 49., 30., 11., 21.])

In [21]:
df_year.values

array([2015, 2014, 2013, ..., 2002, 2001, 2000], dtype=int64)

As a pandas documentation we should avoid to use `Series.values` instead we should use `Series.array` or `Series_tonumpy()` method.

#### dtype and dtypes - attribute
- both dtype and dtypes Return the dtype object of the underlying data

In [22]:
_ps.dtype

dtype('float64')

In [23]:
df_year.dtype

dtype('int64')

In [24]:
_ps.dtypes

dtype('float64')

#### shape - attribute
- Return a tuple of the shape of the underlying data.
- in simple words no. of columns & no. of rows
- in series they returns no. of columns

In [25]:
_ps.shape

(50,)

In [26]:
df_year.shape

(2938,)

#### nbytes - attribute
- Returns the number of bytes in the underlying data.

In [27]:
_ps.nbytes

400

As we can see that we have got 400 bytes consumed by this series. we have 50 items inside this series and each of them 8-bytes since they are float64 dtype values.

In [28]:
df_year.nbytes

23504

#### size - attribute
- Returns the number of elements in the underlying data.
- in simple words in series they return no. of columns in a series

In [29]:
_ps.size

50

In [30]:
df_year.size

2938

#### T - attribute
- Return the transpose, which is by definition self.

In [31]:
_ps.T

0     29.0
1     20.0
2      0.0
3     37.0
4     24.0
5     12.0
6     40.0
7     23.0
8     18.0
9     23.0
10     NaN
11     0.0
12     0.0
13    10.0
14    32.0
15     NaN
16     6.0
17     1.0
18     4.0
19     NaN
20    30.0
21     NaN
22    17.0
23    27.0
24    21.0
25    35.0
26     NaN
27     NaN
28    46.0
29    20.0
30     2.0
31    26.0
32     0.0
33    10.0
34     NaN
35     NaN
36     0.0
37    37.0
38    39.0
39     NaN
40     4.0
41    27.0
42     NaN
43    33.0
44    41.0
45    48.0
46    49.0
47    30.0
48    11.0
49    21.0
dtype: float64

In [32]:
df_year.T

0       2015
1       2014
2       2013
3       2012
4       2011
        ...
2933    2004
2934    2003
2935    2002
2936    2001
2937    2000
Name: Year, Length: 2938, dtype: int64

In [33]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937
Country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
Status,Developing,Developing,Developing,Developing,Developing,Developing,Developing,Developing,Developing,Developing,...,Developing,Developing,Developing,Developing,Developing,Developing,Developing,Developing,Developing,Developing
Life expectancy,65.0,59.9,59.9,59.5,59.2,58.8,58.6,58.1,57.5,57.3,...,50.0,48.2,46.6,45.4,44.6,44.3,44.5,44.8,45.3,46.0
Adult Mortality,263.0,271.0,268.0,272.0,275.0,279.0,281.0,287.0,295.0,295.0,...,587.0,632.0,67.0,7.0,717.0,723.0,715.0,73.0,686.0,665.0
infant deaths,62,64,66,69,71,74,77,80,82,84,...,30,30,29,28,28,27,26,25,25,24
Alcohol,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.03,0.02,0.03,...,4.64,3.56,3.88,4.57,4.14,4.36,4.06,4.43,1.72,1.68
percentage expenditure,71.279624,73.523582,73.219243,78.184215,7.097109,79.679367,56.762217,25.873925,10.910156,17.171518,...,1.040021,20.843429,29.814566,34.262169,8.717409,0.0,0.0,0.0,0.0,0.0
Hepatitis B,65.0,62.0,64.0,67.0,68.0,66.0,63.0,64.0,63.0,64.0,...,73.0,75.0,72.0,68.0,65.0,68.0,7.0,73.0,76.0,79.0
Measles,1154,492,430,2787,3013,1989,2861,1599,1141,1990,...,853,0,242,212,420,31,998,304,529,1483
BMI,19.1,18.6,18.1,17.6,17.2,16.7,16.2,15.7,15.2,14.7,...,29.0,28.6,28.2,27.9,27.5,27.1,26.7,26.3,25.9,25.5
under-five deaths,83,86,89,93,97,102,106,110,113,116,...,45,46,46,45,43,42,41,40,39,39
Polio,6.0,58.0,62.0,67.0,68.0,66.0,63.0,64.0,63.0,58.0,...,69.0,75.0,73.0,71.0,69.0,67.0,7.0,73.0,76.0,78.0
Total expenditure,8.16,8.18,8.13,8.52,7.87,9.2,9.42,8.33,6.73,7.43,...,6.26,4.96,4.47,5.12,6.44,7.13,6.52,6.53,6.16,7.1
Diphtheria,65.0,62.0,64.0,67.0,68.0,66.0,63.0,64.0,63.0,58.0,...,73.0,75.0,73.0,7.0,68.0,65.0,68.0,71.0,75.0,78.0
HIV/AIDS,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,18.1,20.5,23.7,26.8,30.3,33.6,36.7,39.8,42.1,43.5
GDP,584.25921,612.696514,631.744976,669.959,63.537231,553.32894,445.893298,373.361116,369.835796,272.56377,...,65.824121,325.678573,396.998217,414.796232,444.76575,454.366654,453.351155,57.34834,548.587312,547.358878
Population,33736494.0,327582.0,31731688.0,3696958.0,2978599.0,2883167.0,284331.0,2729431.0,26616792.0,2589345.0,...,1381599.0,13558469.0,1332999.0,13124267.0,129432.0,12777511.0,12633897.0,125525.0,12366165.0,12222251.0
thinness 1-19 years,17.2,17.5,17.7,17.9,18.2,18.4,18.6,18.8,19.0,19.2,...,7.5,7.8,8.2,8.6,9.0,9.4,9.8,1.2,1.6,11.0
thinness 5-9 years,17.3,17.5,17.7,18.0,18.2,18.4,18.7,18.9,19.1,19.3,...,7.4,7.8,8.2,8.6,9.0,9.4,9.9,1.3,1.7,11.2
Income composition of resources,0.479,0.476,0.47,0.463,0.454,0.448,0.434,0.433,0.415,0.405,...,0.419,0.421,0.414,0.408,0.406,0.407,0.418,0.427,0.427,0.434
Schooling,10.1,10.0,9.9,9.8,9.5,9.2,8.9,8.7,8.4,8.1,...,9.9,9.7,9.6,9.5,9.3,9.2,9.5,10.0,9.8,9.8

#### memory_usage - method
- Returns the memory usage of the Series

In [34]:
_ps.memory_usage()

528

In [35]:
df_year.memory_usage()

23632

`note: ` Not including the index gives the size of the rest of the data, which is necessarily smaller:

In [36]:
df_year.memory_usage(index=False)

23504

In [37]:
_ps.memory_usage(index=False)

400

`note: ` The memory footprint of object values is ignored by default:

In [38]:
_ps.memory_usage(deep=True)

528

#### hasnans - attribute
- Return true if there are any NaN values present inside the series.

In [39]:
_ps.hasnans

True

In [40]:
df_year.to_numpy()

array([2015, 2014, 2013, ..., 2002, 2001, 2000], dtype=int64)

In [41]:
df_year.hasnans

False

#### empty - attribute
- Indicator whether Series/DataFrame is empty.

In [42]:
_ps.empty

False

In [43]:
df.empty

False

In [44]:
df_year.empty

False

#### dtype - attribute 
- Returns the dtype object of the underlying data.

In [45]:
df_year.dtype

dtype('int64')

In [46]:
_ps.dtype

dtype('float64')

In [47]:
df["Country"].dtype

dtype('O')

#### name - attribute
Returns the name of the series

In [48]:
df_year.name

'Year'

## Conversion

#### convert_dtypes() - attribute
- Convert columns to the best possible dtypes using dtypes supporting.

In [49]:
df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [50]:
dfc = df.convert_dtypes()
dfc.dtypes

Country                            string[python]
Year                                        Int64
Status                             string[python]
Life expectancy                           Float64
Adult Mortality                             Int64
infant deaths                               Int64
Alcohol                                   Float64
percentage expenditure                    Float64
Hepatitis B                                 Int64
Measles                                     Int64
 BMI                                      Float64
under-five deaths                           Int64
Polio                                       Int64
Total expenditure                         Float64
Diphtheria                                  Int64
 HIV/AIDS                                 Float64
GDP                                       Float64
Population                                Float64
 thinness  1-19 years                     Float64
 thinness 5-9 years                       Float64
Income composition of resources           Float64
Schooling                                 Float64
dtype: object

#### copy - attribute
- Make a copy of this objects indices and data.

In [51]:
df_year_c = df_year.copy

In [52]:
df_year_c

<bound method NDFrame.copy of 0       2015
1       2014
2       2013
3       2012
4       2011
        ...
2933    2004
2934    2003
2935    2002
2936    2001
2937    2000
Name: Year, Length: 2938, dtype: int64>

#### bool - attribute
Returns the bool of a single element Series or DataFrame.

In [53]:
_boll_c = pd.Series([True]).bool()

In [54]:
_boll_c

True

In [55]:
df_year.astype('int32').dtypes

dtype('int32')

In [56]:
df_year.dtypes

dtype('int64')

#### to.numpy - attribute
A NumPy ndarray representing the values in this Series or Index.

In [57]:
_ps.to_numpy

<bound method IndexOpsMixin.to_numpy of 0     29.0
1     20.0
2      0.0
3     37.0
4     24.0
5     12.0
6     40.0
7     23.0
8     18.0
9     23.0
10     NaN
11     0.0
12     0.0
13    10.0
14    32.0
15     NaN
16     6.0
17     1.0
18     4.0
19     NaN
20    30.0
21     NaN
22    17.0
23    27.0
24    21.0
25    35.0
26     NaN
27     NaN
28    46.0
29    20.0
30     2.0
31    26.0
32     0.0
33    10.0
34     NaN
35     NaN
36     0.0
37    37.0
38    39.0
39     NaN
40     4.0
41    27.0
42     NaN
43    33.0
44    41.0
45    48.0
46    49.0
47    30.0
48    11.0
49    21.0
dtype: float64>

In [58]:
df_year.to_numpy

<bound method IndexOpsMixin.to_numpy of 0       2015
1       2014
2       2013
3       2012
4       2011
        ...
2933    2004
2934    2003
2935    2002
2936    2001
2937    2000
Name: Year, Length: 2938, dtype: int64>

In [59]:
df_year.__array__

<bound method Series.__array__ of 0       2015
1       2014
2       2013
3       2012
4       2011
        ...
2933    2004
2934    2003
2935    2002
2936    2001
2937    2000
Name: Year, Length: 2938, dtype: int64>

## Indexing, iterations

#### get(key) - method
- Get item from object for given key

In [60]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [61]:
df.get(["Country", "Year", "Life expectancy", "BMI", "Alcohol", "Schooling"])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [63]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [64]:
df.columns = [x.strip() for x in df.columns]

In [65]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [66]:
BMI = df["Country"]
BMI.get("India")

In [67]:
# df["Country"].unique()

#### at() & iat() - method
`Series.at() ` Access a single value for a row/column lable pair.
`Series.iat() ` Access a single value for a row/column pair by integer position.

In [68]:
_dict

{'Abhishek': 19,
 'Sunny': 19,
 'Manish': 20,
 'Hanish': 19,
 'Anuj': 22,
 'Mayank': 19,
 'Sarjeet': 20,
 'Diljeet': 25,
 'Arpit': 18,
 'Monu': 26}

In [69]:
ds = pd.Series(data=_dict, name="Student", dtype=np.int8)

In [70]:
ds

Abhishek    19
Sunny       19
Manish      20
Hanish      19
Anuj        22
Mayank      19
Sarjeet     20
Diljeet     25
Arpit       18
Monu        26
Name: Student, dtype: int8

In [71]:
# we can access any value by its label name.
ds.at["Mayank"]

19

if we want to access the value by its index number then also we can use the `Series.iat()` method instead of using the `Series.at()` method.

In [72]:
ds.iat[6]

20

In [73]:
df_year.shape

(2938,)

#### pop - method 
- Return item and drop from series.

In [74]:
df_year.pop(2937)

2000

In [75]:
df_year.shape

(2937,)

In [76]:
df_country = df

In [77]:
df_country

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [78]:
df_country.set_index("Country", inplace=True)

In [79]:
df_country.loc["Afghanistan":"Argentina"]

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Argentina,2004,Developing,74.7,13.0,11,7.63,719.366380,81.0,0,56.3,...,91.0,6.84,98.0,0.1,4251.574348,38728696.0,1.1,1.0,0.775,16.3
Argentina,2003,Developing,74.1,137.0,11,7.62,57.584674,73.0,0,55.7,...,95.0,8.22,96.0,0.1,333.437600,3839379.0,1.2,1.0,0.770,16.4
Argentina,2002,Developing,74.1,138.0,12,7.81,470.186915,66.0,0,55.1,...,94.0,8.31,93.0,0.1,2579.193168,3788937.0,1.2,1.0,0.776,16.3
Argentina,2001,Developing,74.0,138.0,12,7.76,123.012867,NaN,0,54.6,...,85.0,9.38,83.0,0.1,717.694674,3747159.0,1.2,1.1,0.771,15.6
Argentina,2000,Developing,74.1,137.0,12,7.68,1349.025282,NaN,6,54.0,...,88.0,9.21,83.0,0.1,7669.273916,3757452.0,1.2,1.1,0.764,15.0

In [80]:
df_country.iloc[6:20]

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,16.2,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,15.7,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,15.2,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,14.7,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,14.2,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
Afghanistan,2004,Developing,57.0,293.0,87,0.02,15.296066,67.0,466,13.8,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8
Afghanistan,2003,Developing,56.7,295.0,87,0.01,11.089053,65.0,798,13.4,...,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
Afghanistan,2002,Developing,56.2,3.0,88,0.01,16.887351,64.0,2486,13.0,...,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
Afghanistan,2001,Developing,55.3,316.0,88,0.01,10.574728,63.0,8762,12.6,...,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,12.2,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,58.0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,57.2,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,56.5,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
Albania,2012,Developing,76.9,86.0,0,5.14,412.443356,99.0,9,55.8,...,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2

# Missing Data Handling

In [81]:
df.reset_index(inplace=True)

In [82]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [83]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [84]:
df["Life expectancy"].isnull().sum()

10

In [85]:
df_null =  df[["Country","Alcohol", "Hepatitis B", "Total expenditure", "GDP", "Population","Income composition of resources", "Schooling"]]

In [86]:
df_null

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Income composition of resources,Schooling
0,Afghanistan,0.01,65.0,8.16,584.259210,33736494.0,0.479,10.1
1,Afghanistan,0.01,62.0,8.18,612.696514,327582.0,0.476,10.0
2,Afghanistan,0.01,64.0,8.13,631.744976,31731688.0,0.470,9.9
3,Afghanistan,0.01,67.0,8.52,669.959000,3696958.0,0.463,9.8
4,Afghanistan,0.01,68.0,7.87,63.537231,2978599.0,0.454,9.5
...,...,...,...,...,...,...,...,...
2933,Zimbabwe,4.36,68.0,7.13,454.366654,12777511.0,0.407,9.2
2934,Zimbabwe,4.06,7.0,6.52,453.351155,12633897.0,0.418,9.5
2935,Zimbabwe,4.43,73.0,6.53,57.348340,125525.0,0.427,10.0
2936,Zimbabwe,1.72,76.0,6.16,548.587312,12366165.0,0.427,9.8
2937,Zimbabwe,1.68,79.0,7.10,547.358878,12222251.0,0.434,9.8

In [87]:
null_value_index = df_null[df_null.Alcohol.isnull()].index
df_null[df_null.Alcohol.isnull()]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Income composition of resources,Schooling
32,Algeria,NaN,95.0,NaN,4132.762920,39871528.0,0.743,14.4
48,Angola,NaN,64.0,NaN,3695.793748,2785935.0,0.531,11.4
64,Antigua and Barbuda,NaN,99.0,NaN,13566.954100,NaN,0.784,13.9
80,Argentina,NaN,94.0,NaN,13467.123600,43417765.0,0.826,17.3
96,Armenia,NaN,94.0,NaN,369.654776,291695.0,0.741,12.7
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),NaN,87.0,NaN,NaN,NaN,0.769,14.3
2874,Viet Nam,NaN,97.0,NaN,NaN,NaN,0.678,12.6
2890,Yemen,NaN,69.0,NaN,NaN,NaN,0.499,9.0
2906,Zambia,NaN,9.0,NaN,1313.889646,161587.0,0.576,12.5
2922,Zimbabwe,NaN,87.0,NaN,118.693830,15777451.0,0.507,10.3

In [88]:
null_value_index

Index([  32,   48,   64,   80,   96,  112,  128,  144,  160,  176,
       ...
       2778, 2794, 2810, 2826, 2842, 2858, 2874, 2890, 2906, 2922],
      dtype='int64', length=194)

In [89]:
df_null.iloc[null_value_index]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Income composition of resources,Schooling
32,Algeria,NaN,95.0,NaN,4132.762920,39871528.0,0.743,14.4
48,Angola,NaN,64.0,NaN,3695.793748,2785935.0,0.531,11.4
64,Antigua and Barbuda,NaN,99.0,NaN,13566.954100,NaN,0.784,13.9
80,Argentina,NaN,94.0,NaN,13467.123600,43417765.0,0.826,17.3
96,Armenia,NaN,94.0,NaN,369.654776,291695.0,0.741,12.7
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),NaN,87.0,NaN,NaN,NaN,0.769,14.3
2874,Viet Nam,NaN,97.0,NaN,NaN,NaN,0.678,12.6
2890,Yemen,NaN,69.0,NaN,NaN,NaN,0.499,9.0
2906,Zambia,NaN,9.0,NaN,1313.889646,161587.0,0.576,12.5
2922,Zimbabwe,NaN,87.0,NaN,118.693830,15777451.0,0.507,10.3

In [90]:
df_null.fillna(method="bfill").iloc[null_value_index]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Income composition of resources,Schooling
32,Algeria,0.01,95.0,7.21,4132.762920,39871528.0,0.743,14.4
48,Angola,8.33,64.0,3.31,3695.793748,2785935.0,0.531,11.4
64,Antigua and Barbuda,8.56,99.0,5.54,13566.954100,43417765.0,0.784,13.9
80,Argentina,7.93,94.0,4.79,13467.123600,43417765.0,0.826,17.3
96,Armenia,3.91,94.0,4.48,369.654776,291695.0,0.741,12.7
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),6.47,87.0,5.26,1313.889646,161587.0,0.769,14.3
2874,Viet Nam,4.09,97.0,7.70,1313.889646,161587.0,0.678,12.6
2890,Yemen,0.01,69.0,5.64,1313.889646,161587.0,0.499,9.0
2906,Zambia,0.01,9.0,4.99,1313.889646,161587.0,0.576,12.5
2922,Zimbabwe,6.50,87.0,6.44,118.693830,15777451.0,0.507,10.3

In [91]:
alcohol_filter_null = df_null["Alcohol"].isnull()
hepatitis_filter_null = df_null["Hepatitis B"].isnull()

In [92]:
df_null[alcohol_filter_null | hepatitis_filter_null]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Income composition of resources,Schooling
32,Algeria,NaN,95.0,NaN,4132.762920,39871528.0,0.743,14.4
44,Algeria,0.34,NaN,3.60,294.335560,3243514.0,0.663,11.5
45,Algeria,0.36,NaN,3.73,1774.336730,3199546.0,0.653,11.1
46,Algeria,0.23,NaN,3.84,1732.857979,31592153.0,0.644,10.9
47,Algeria,0.25,NaN,3.49,1757.177970,3118366.0,0.636,10.7
...,...,...,...,...,...,...,...,...
2918,Zambia,2.33,NaN,8.18,429.158343,11421984.0,0.443,10.2
2919,Zambia,2.44,NaN,6.93,377.135244,111249.0,0.433,10.0
2920,Zambia,2.61,NaN,6.56,378.273624,1824125.0,0.424,9.8
2921,Zambia,2.62,NaN,7.16,341.955625,1531221.0,0.418,9.6
2922,Zimbabwe,NaN,87.0,NaN,118.693830,15777451.0,0.507,10.3

In [93]:
df_null["Alcohol"].fillna(method="bfill", inplace=True)

C:\Users\Abhishek\AppData\Local\Temp\ipykernel_10964\2110194112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null["Alcohol"].fillna(method="bfill", inplace=True)

In [94]:
df_null.loc[null_value_index]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Income composition of resources,Schooling
32,Algeria,0.01,95.0,NaN,4132.762920,39871528.0,0.743,14.4
48,Angola,8.33,64.0,NaN,3695.793748,2785935.0,0.531,11.4
64,Antigua and Barbuda,8.56,99.0,NaN,13566.954100,NaN,0.784,13.9
80,Argentina,7.93,94.0,NaN,13467.123600,43417765.0,0.826,17.3
96,Armenia,3.91,94.0,NaN,369.654776,291695.0,0.741,12.7
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),6.47,87.0,NaN,NaN,NaN,0.769,14.3
2874,Viet Nam,4.09,97.0,NaN,NaN,NaN,0.678,12.6
2890,Yemen,0.01,69.0,NaN,NaN,NaN,0.499,9.0
2906,Zambia,0.01,9.0,NaN,1313.889646,161587.0,0.576,12.5
2922,Zimbabwe,6.50,87.0,NaN,118.693830,15777451.0,0.507,10.3